- name: setup dvwa
  hosts: myserver

  pre_tasks:
  - name: check php version
    ansible.builtin.shell: |
      php -r 'echo PHP_MAJOR_VERSION; echo "."; echo PHP_MINOR_VERSION;'
    register: res

  - name: add custom fact
    ansible.builtin.set_fact:
      php_ver: "{{ res.stdout }}"
    when: res.rc == 0
  
  - name: check custom fact
    ansible.builtin.debug:
      msg: "{{ php_ver }}"

  tasks:
  - name: check os
    ansible.builtin.shell: |
      cat /etc/os-release
  
  - name: install packages
    ansible.builtin.apt :
      name:
      - apache2
      - mariadb-server
      - mariadb-client
      - php
      - php-mysql
      - php-gd
      - php-fpm
      - libapache2-mod-php
      - git
      state : present

  - name: get DVWA source archive
    ansible.builtin.get_url:
      url: https://github.com/digininja/DVWA/archive/refs/tags/2.5.tar.gz
      dest: /tmp/

  - name: extract DVWA
    ansible.builtin.unarchive:
      src: /tmp/DVWA-2.5.tar.gz
      dest: /tmp/
      remote_src: yes
  
  - name: remove default index.html
    ansible.builtin.file:
      path: "{{ dvwa_dir }}/index.html"
      state: absent

  - name: copy DVWA files
    ansible.builtin.copy:
      src:  /tmp/DVWA-2.5/
      dest: "{{ dvwa_dir }}/"
      remote_src: yes

  - name: start and enable mariadb service
    ansible.builtin.systemd_service:
      name: mariadb
      state: restarted
      enabled: true

  - name: upload sql script
    ansible.builtin.template:
      src:  create_database.sql
      dest: /tmp/

  - name: create database 'dvwa'
    ansible.builtin.shell: |
      mysql -uroot < /tmp/create_database.sql

  - name: copy config.inc.php
    ansible.builtin.copy :
      src:  "{{ dvwa_dir }}/config/config.inc.php.dist"
      dest: "{{ dvwa_dir }}/config/config.inc.php"
      remote_src: true

  - name: change permission of DVWA directory
    ansible.builtin.file:
      path:  "{{ dvwa_dir }}"
      owner: www-data
      group: www-data
      mode: '0755'
  
  - name: enable allow_url_include for apache2
    ansible.builtin.replace:
      path: /etc/php/{{ php_ver }}/apache2/php.ini
      regexp: '^(allow_url_include\s*=).*'
      replace: '\1 on'
  
  - name: enable allow_url_fopen for apache2
    ansible.builtin.replace:
      path: /etc/php/{{ php_ver }}/apache2/php.ini
      regexp: '^(allow_url_fopen\s*=).*'
      replace: '\1 on'
  
  - name: enable display_errors for apache2
    ansible.builtin.replace:
      path: /etc/php/{{ php_ver }}/apache2/php.ini
      regexp: '^(display_errors\s*=).*'
      replace: '\1 on'
  
  - name: enable display_startup_errors for apache2
    ansible.builtin.replace:
      path: /etc/php/{{ php_ver }}/apache2/php.ini
      regexp: '^(display_startup_errors\s*=).*'
      replace: '\1 on'
  
  - name: enable allow_url_include for fpm
    ansible.builtin.replace:
      path: /etc/php/{{ php_ver }}/fpm/php.ini
      regexp: '^(allow_url_include\s*=).*'
      replace: '\1 on'
  
  - name: enable allow_url_fopen for fpm
    ansible.builtin.replace:
      path: /etc/php/{{ php_ver }}/fpm/php.ini
      regexp: '^(allow_url_fopen\s*=).*'
      replace: '\1 on'
  
  - name: enable display_errors for fpm
    ansible.builtin.replace:
      path: /etc/php/{{ php_ver }}/fpm/php.ini
      regexp: '^(display_errors\s*=).*'
      replace: '\1 on'
  
  - name: enable display_startup_errors for fpm
    ansible.builtin.replace:
      path: /etc/php/{{ php_ver }}/fpm/php.ini
      regexp: '^(display_startup_errors\s*=).*'
      replace: '\1 on'

  - name: change database password in config.inc.php
    ansible.builtin.replace:
      path: "{{ dvwa_dir }}/config/config.inc.php"
      regexp: '\$_DVWA\[ ''db_password'' \] = getenv\(''DB_PASSWORD''\) \?: ''(.*)'';'
      replace: '$_DVWA[ ''db_password'' ] = getenv(''DB_PASSWORD'') ?: ''{{ sql_pass }}'';'

  - name: restart apache
    ansible.builtin.systemd_service:
      name:  apache2
      state: restarted
      enabled: true

