[sssd]
debug_level = 9
config_file_version = 2
services = nss, pam
domains = LDAP

[domain/LDAP]
ldap_schema = rfc2307
cache_credentials = true

id_provider     = ldap
auth_provider   = ldap
chpass_provider = ldap

ldap_uri = ldap://localhost
ldap_search_base = {{ ldap_suffix }}
ldap_default_bind_dn = cn=Manager,{{ ldap_suffix }}
ldap_default_authtok_type = password
ldap_default_authtok = {{ ldap_root_passwd }}

lookup_family_order = ipv4_only

ldap_chpass_uri = ldap://localhost

ldap_id_use_start_tls = true
ldap_tls_reqcert = never

ldap_user_search_base  = ou=Users,{{ ldap_suffix }}
ldap_group_search_base = ou=Groups,{{ ldap_suffix }}

access_provider = simple
simple_allow_groups = ldapusers

enumerate = true

