[Unit]
Description=User Login Management
After=systemd-journald.service

[Service]
ExecStart=/usr/lib/systemd/systemd-logind

[Install]
WantedBy=multi-user.target


