- name: setup bridge
  hosts: myserver

  tasks:
  - name: delete bridges
    ansible.builtin.shell: |
      num=`nmcli --fields name con show | grep -e '^{{ item }}$' | wc -l`
      if [ "$num" -ne 0 ]; then
        sudo nmcli con del {{ item }}
      fi
    loop: "{{ bridges }}"
      
  - name: create bridges
    ansible.builtin.shell: |
      sudo nmcli con add \
        type bridge \
        ifname {{ item }} \
        conn.id {{ item }}
    loop: "{{ bridges }}"

