- name: setup firefox
  hosts:
  #- xubuntu
  - questing

  tasks:
  - name: create /etc/apt/keyrings
    ansible.builtin.file:
      path: /etc/apt/keyrings
      state: directory

  - name: download repo-signing-key.gpg
    ansible.builtin.get_url:
      url: https://packages.mozilla.org/apt/repo-signing-key.gpg
      dest: /etc/apt/keyrings/packages.mozilla.org.asc
      mode: '0644'

  - name: check fingerprint
    ansible.builtin.shell: |
      gpg -n -q --import --import-options import-show \
          /etc/apt/keyrings/packages.mozilla.org.asc | \
      awk '/pub/{getline; gsub(/^ +| +$/,"");
        if($0 == "35BAA0B33E9EB396F59CA838C0BA5CE6DC6315A3") \
          print "\nThe key fingerprint matches ("$0").\n"; \
        else print "\nVerification failed: the fingerprint ("$0") \
          does not match the expected one.\n"}'
  
  - name: remove mozilla.list
    ansible.builtin.file:
      path: /etc/apt/sources.list.d/mozilla.list
      state: absent

  - name: add repository to source list
    ansible.builtin.shell: |
      echo "deb [signed-by=/etc/apt/keyrings/packages.mozilla.org.asc] https://packages.mozilla.org/apt mozilla main" | tee -a /etc/apt/sources.list.d/mozilla.list > /dev/null

  - name: priority to use mozilla apt repository
    ansible.builtin.shell: |
      echo '
        Package: *
        Pin: origin packages.mozilla.org
        Pin-Priority: 1000
      ' | tee /etc/apt/preferences.d/mozilla

  - name: install firefox
    ansible.builtin.apt:
      name: firefox-esr
      update_cache: true

