---
# sssd.conf
#ldap_addr:   172.16.1.69
ldap_addr:   192.168.1.98
sssd_ldap_uri:    ldap://{{ ldap_addr }}
ldap_suffix: dc=example,dc=com

sssd_allow_groups: ldapusers
sssd_ldap_tls_reqcert: never

# sshd_config
authorizedkeyscommand: /usr/bin/sss_ssh_authorizedkeys

# sudo
admin_group: ldapwheel

sysconfdir: /etc

