---
- name: enable epel-release (OracleLinux)
  ansible.builtin.dnf:
    name:
      - oracle-epel-release-el9
    state: present
  when: ansible_facts['distribution'] == "OracleLinux"

- name: install sssd-ldap for debian
  ansible.builtin.apt:
    name:
      - sssd
      - sssd-ldap
      - sssd-tools
      - oddjob-mkhomedir
  when: ansible_facts['os_family'] == "Debian"

- name: install sssd-ldap for centos
  ansible.builtin.dnf:
    name:
      - openldap-clients
      - sssd
      - sssd-ldap
      - sssd-tools
      - oddjob-mkhomedir
  when: ansible_facts['os_family'] == "RedHat" or ansible_facts['os_family'] == "Rocky"

- name: check sssd is running
  ansible.builtin.systemd:
    state: started
    name:  sssd
  ignore_errors: true


