[Unit]
Description=Sway Service for user %U
After=network.target

[Service]
Environment="WLR_BACKENDS=headless"
Environment="WLR_LIBINPUT_NO_DEVICES=1"
Environment="XDG_RUNTIME_DIR=%t"
ExecStart=/usr/bin/dbus-run-session -- /usr/bin/sway --config %h/.config/sway/config
Restart=on-failure

[Install]
WantedBy=multi-user.target

