- name: setup user config
  hosts: questing
  become: false

  #environment:
  #  http_proxy: http://proxy.example.com:8080
  #  https_proxy: http://proxy.example.com:8080

  tasks:
  - name: create sway directory
    ansible.builtin.file:
      path: "{{ item }}"
      state: directory
      recurse: true
    loop:
    - $HOME/.config/sway/
    - $HOME/.config/wayvnc/
    - $HOME/.config/systemd/user/
    tags: debug
  
  - name: debug
    ansible.builtin.debug:
      msg: "{{ item }}"
    loop:
    - $HOME/.config/sway/
    - $HOME/.config/wayvnc/
    - $HOME/.config/systemd/user/

  - name: copy systemd services
    ansible.builtin.template:
      src: "{{ item }}"
      dest: $HOME/.config/systemd/user/
    loop:
    - sway.service
    - wayvnc.service
  
  - name: copy configurations
    ansible.builtin.template:
      src: "{{ item }}.conf"
      dest: "$HOME/.config/{{ item }}/config"
    loop:
    - sway
    - wayvnc

  - name: systemd --user daemon-reload
    ansible.builtin.systemd_service:
      daemon_reload: true
      scope: user
  
  - name: auto-start systemd user instance
    ansible.builtin.shell: |
      loginctl enable-linger $USER

  - name: enable services
    ansible.builtin.systemd_service:
      name: "{{ item }}"
      enabled: true
      scope: user
    loop:
    - sway
    - wayvnc
  
  - name: restart services
    ansible.builtin.systemd_service:
      name: "{{ item }}"
      state: restarted
      scope: user
    loop:
    - sway
    - wayvnc

